# Requirements Documentation
ReqDocs

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
uploads/
temp/

.postman/
postman/

# Postman files (local testing only)
*.postman_collection.json
*.postman_environment.json
Local-Development.postman_environment.json
Pulsify-Profiles-Collection.postman_collection.json