# Requirements Documentation
ReqDocs

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
uploads/
temp/

# Postman files (local testing only)
/Local_Postman

# Coverage reports
coverage/

# Markdown files (except README)
*.md
!README.md
